<PaperCard>
  <PaperToolbar>
    <PaperToolbarTools>
      <h2>Start Reading</h2>
      <span class="flex"></span>
      <PaperButton
        @iconButton={{true}}
        @onClick={{@onClose}}
      >
        {{paper-icon "clear"}}
      </PaperButton>
    </PaperToolbarTools>
  </PaperToolbar>
  <PaperContent>
    <div class="list-group">
      {{#each this.sortedBooks as |book|}}
        <BookList::item
          @book={{book}}
          @onChoose={{@onChoose}}
        />
      {{/each}}
    </div>
  </PaperContent>
</PaperCard>
