<div class="card">
  <div class="card-body text-center">
    <ReadingControl
      @reading={{@reading}}
      @onComplete={{@onComplete}}
      as |control|
    >
      {{#if @reading.allChaptersRead}}
        <p>You finished</p>
        <h2 data-test-finished>{{@reading.book.name}}</h2>
        <button
          type="button"
          class="btn btn-primary"
          {{on "click" control.markComplete}}
          data-test-mark-complete-button
        >
          Mark
          {{@reading.book.name}}
          Completed
        </button>
      {{else}}
        <p>Next up to read:</p>
        <div
          class="layout-column layout-align-center-center"
          data-test-next-chapter
        >
          <a href="https://bible-text.herokuapp.com/v1/net/{{@reading.book.abbreviation}}/{{@reading.chapterToRead}}" target="_blank" rel="noopener noreferrer" class="unstyled-link">
            <h2>{{@reading.book.nameForChapter}}</h2>
            <h1>{{@reading.chapterToRead}}</h1>
          </a>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          {{on "click" control.markNextChapterRead}}
          data-test-read-button
        >
          Mark Chapter Read
        </button>
      {{/if}}
    </ReadingControl>
  </div>
</div>
