<ReadingControl
  @reading={{@reading}}
  @onComplete={{@onComplete}}
  as |control|
>
  <li
    class="list-group-item d-flex justify-content-between align-items-center"
  >
    <div data-test-reading={{@reading.book.id}}>
      {{#if @reading.allChaptersRead}}
        {{@reading.book.name}}
      {{else}}
        <a href="https://bible-text.herokuapp.com/v1/net/{{@reading.book.abbreviation}}/{{@reading.chapterToRead}}" rel="noopener noreferrer" class="unstyled-link">
          {{@reading.book.nameForChapter}}
          {{@reading.chapterToRead}}
        </a>
      {{/if}}
    </div>
    <div>
      {{#if @reading.allChaptersRead}}
        <button
          type="button"
          class="btn btn-primary"
          {{on "click" control.markComplete}}
          data-test-complete-button={{@reading.book.id}}
        >
          Complete
        </button>
      {{else}}
        <button
          type="button"
          class="btn btn-primary"
          {{on "click" control.markNextChapterRead}}
          data-test-read-button={{@reading.book.id}}
        >
          Read
        </button>
      {{/if}}
    </div>
  </li>
</ReadingControl>
