<ReadingControl
  @reading={{@reading}}
  @onComplete={{@onComplete}}
  as |control|
>
  <PaperItem as |controls|>
    <p>
      {{#if @reading.allChaptersRead}}
        {{@reading.book.name}}
      {{else}}
        {{@reading.book.nameForChapter}}
        {{control.chapterToRead}}
      {{/if}}
    </p>
    <PaperDivider />
    <div class="md-secondary-container">
      {{#if @reading.allChaptersRead}}
        <controls.button
          @raised={{true}}
          @primary={{true}}
          @onClick={{control.markComplete}}
        >
          Complete
        </controls.button>
      {{else}}
        <controls.button
          @raised={{true}}
          @primary={{true}}
          @onClick={{control.markNextChapterRead}}
        >
          Read
        </controls.button>
      {{/if}}
    </div>
  </PaperItem>
</ReadingControl>
