<ReadingControl
  @reading={{@reading}}
  @onComplete={{@onComplete}}
  as |control|
>
  <PaperItem>
    <p data-test-reading={{@reading.book.id}}>
      {{#if @reading.allChaptersRead}}
        {{@reading.book.name}}
      {{else}}
        {{@reading.book.nameForChapter}}
        {{@reading.chapterToRead}}
      {{/if}}
    </p>
    <PaperDivider />
    <div class="md-secondary-container">
      {{#if @reading.allChaptersRead}}
        <button
          type="button"
          class="btn btn-primary"
          {{on "click" control.markComplete}}
          data-test-complete-button={{@reading.book.id}}
        >
          Complete
        </button>
      {{else}}
        <button
          type="button"
          class="btn btn-primary"
          {{on "click" control.markNextChapterRead}}
          data-test-read-button={{@reading.book.id}}
        >
          Read
        </button>
      {{/if}}
    </div>
  </PaperItem>
</ReadingControl>
