{{#each this.model as |reading|}}
  <ReadingControl
    @table={{this.hasMultipleReadings}}
    @reading={{reading}}
    @onComplete={{action send 'refresh'}}
  />
{{else}}
  <p>You aren't reading a book right now.</p>
  <h2>Let's get started!</h2>
  <PaperButton
    @raised={{true}}
    @primary={{true}}
    @onClick={{this.goToNewReadings}}
  >
    Start a Book
  </PaperButton>
{{/each}}
