{{#if @model}}
  {{#if this.hasMultipleReadings}}
    <Reading::Multiple
      @readings={{@model}}
      @onComplete={{action send "refresh"}}
    />
  {{else}}
    {{#each @model as |reading|}}
      <Reading::Single
        @reading={{reading}}
        @onComplete={{action send "refresh"}}
      />
    {{/each}}
  {{/if}}

  <div class="layout-column layout-align-center-center">
    <PaperButton
      @raised={{true}}
      @primary={{true}}
      @onClick={{this.goToNewReadings}}
      data-test-start-another-book-button
    >
      Start Another Book
    </PaperButton>
  </div>
{{else}}
  <Reading::NotStarted />
{{/if}}
