{{#if this.model}}
  {{#if this.hasMultipleReadings}}
    <PaperCard as |card|>
      <PaperToolbar>
        <PaperToolbarTools>
          <h2>Currently Reading</h2>
        </PaperToolbarTools>
      </PaperToolbar>
      <PaperContent>
        <PaperList>
          {{#each this.model as |reading|}}
            <ReadingControl
              @table={{true}}
              @reading={{reading}}
              @onComplete={{action send 'refresh'}}
            />
          {{/each}}
        </PaperList>
      </PaperContent>
    </PaperCard>
  {{else}}
    {{#each this.model as |reading|}}
      <Reading::Single
        @reading={{reading}}
        @onComplete={{action send 'refresh'}}
      />
    {{/each}}
  {{/if}}

  <div class="layout-column layout-align-center-center">
    <PaperButton
      @raised={{true}}
      @primary={{true}}
      @onClick={{this.goToNewReadings}}
    >
      Start Another Book
    </PaperButton>
  </div>
{{else}}
  <Reading::NotStarted />
{{/if}}
